/* Header/logo Title */
.header {
  padding: 25px;
  text-align: center;
  color: white;
  background:rgba(81, 157, 192, 0.377);
  font-family: fantasy;
  
}

.header img{
  border-radius: 100px;
  margin-bottom: 20px;
}


  /* other */
  * {
  box-sizing: border-box;
}

.center {
  text-align: center
}

.container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.container img {vertical-align: middle;
  max-width: 100%;
  max-height: 300px;
  height: auto;
}

.container .content {
  position: absolute;
  bottom: 0;
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 35px;
}

/* navigation */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: gray;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #64b6e2;
  color: white;
}



/* Main column */
.main {   
  -ms-flex: 70%;
  flex: 70%;
  background-color: rgb(255, 255, 255);
  padding: 18px;
}

/* Footer */
.footer {
  width: 100%;
  padding: 50px 0;
  box-sizing: border-box;
  overflow:hidden;
  display:block;
  background: rgb(97, 94, 94);
}

.subfooter{
  display: block;
  width: 1100px;
  height: 100%;
}

.subfooter .container{
  width:35%;
  height: 100%;
  float: left;
  display: block;
}

.subfooter .container img{
  width: 80px;
  height: auto;
}

.subfooter .footerthird{
  width:20%;
  margin-right: 10px;
  float: left;
  height: 100%;  
}

.subfooter .footerthird h1{
  font-size: 22px;
  width: 100%;
  margin-bottom: 10px;
}
.subfooter .footerthird p{
  font-size: 14px;
  width: 100%;
  margin-bottom: 5px;
  color: white;
}

.subfooter .footerthird a{
  font-size: 14px;
  width: 100%;
  margin-bottom: 5px;
  color: white;
}


/* Main Page*/
.statement{
  text-align: center;
  font-size: large;
  padding: 20px 350px;
}
.ministatement{
  font-size: smaller;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* popular section */
.popular {
  text-align: center;
  font-size: large;
}
 /* Three image containers (use 25% for four, and 50% for two, etc) */
 .popular .column {
  float: left;
  width: 25%;
  padding: 40px;
  border-left: ridge;
  background-color: rgb(233, 223, 223);
}
.popular img{
  height: 100px;
  border-radius: 10px;
}

/* warranty */
.warranty{
  padding: 80px 350px;
  font-size: larger
}

/* manufacture */

.manufacter h3{
  text-align: center;
}

.manufacter img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border-style: outset;
}

.manufacter .column {
  float: left;
  width: 14.28%;
  padding: 40px;

  background-color: rgb(233, 223, 223);
}

/* table */
.table{
  align-items: center;
  padding: 40px;
}

.table .col-sm{
  border: solid;
  margin: -2px;
}

/* login form */
/* padding top right bottom left */
.login{
  padding: 10px 800px 10px 60px;
  font-size: large;
}

/* about us */

.me{
  padding: 20px 400px;
}

.about{
  font-size: larger;
  text-align: center;
}


.about img{
  width: 280px;
  height: 240px;
  border-style: solid;
  margin-top: 20px;
}

/* mission */
.mission{
  padding: 20px 400px;
}
.mission h4{
  text-align: left;
  padding-left: 400px;
}

/* team */
.team p{
  text-align: center;
}

.team .column {
  float: left;
  width: 25%;
  padding: 30px;
  border-left: ridge;
  background-color: rgb(233, 223, 223);
}

.team img{
  height: 100px;
  border-radius: 10px;
}

