/* Body Style */
body {
  font-family: Tahoma, Verdana, sans-serif, Arial;
  font-size: 25px;
  margin: 0;
}

/* Header */
.header {
  padding: 35px;
  text-align: center;
  background: #00A2FF;
  color: white;
}

/* Head Font */
.container h1 {
  font-size: 75px;
  text-align: center;
}

/* Header Transparency */
* {
  box-sizing: border-box;
}

/* Centers Entity */
.center {
  text-align: center
}

/* Container */
.container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

/* Container for Image */
.container img {vertical-align: middle;
  max-width: 100%;
  max-height: 300px;
  height: auto;
}

/* Transparent Overlay */
.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 35px;
}

/* H2 Font Size */
.container h2 {
  text-align: center;
  font-size: 25px;
}


/* Sticky navbar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Navigation Bar Stylization */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Navigation Bar Right Side Link */
.navbar a.right {
  float: right;
}

/* Changes color on Hover for Navigation Bar */
.navbar a:hover {
  background-color: #D7E2E8;
  color: black;
}

/* Highlights Current Tab */
.navbar a.active {
  background-color: #FE4545;
  color: white;
}

/* Column Container */
.row {  
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Smaller Left Side Column */
.side {
  -ms-flex: 20%;
  flex: 20%;
  background-color: #f1f1f1;
  padding: 18px;
}

/* Main Larger Column */
.main {   
  -ms-flex: 70%;
  flex: 70%;
  background-color: white;
  padding: 18px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #aaa;
}

/* Stacks Columns on Small Screens */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Stacks Navigation Bar on Small Screens */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/* Table Size */
table {
  width:100%;
}

/* Table Border */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
  
/* Table Text */
th, td {
  padding: 5px;
  text-align: left;
}

/* Even Color Cells on Table */
table.names tr:nth-child(even) {
  background-color: #eee;
}

/* Odd Color Cells on Table */
table.names tr:nth-child(odd) {
  background-color:#fff;
}
  
/* Table Colors */
table.names th {
  background-color: black;
  color: white
}

/* Login Screen Main Holder */
#main-holder {
  position: absolute;
  right: 30%;
  width: 40%;
  height: 80%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 2px black;
}

/* Login Error Message Holder */
#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

/* Login Error Message Text */
#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

/* Error Message Second Line */
#error-msg-second-line {
  display: block;
}

/* Login Form Sizing */
#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

/* Login Form Text */
.login-form-field::placeholder {
  color: #3a3a3a;
  font-size: 17px;
}

/* Login Form Outline */
.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  font-size: 17px;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

/* Login Form Submission Text */
#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}
